:root {
  margin: 0px;
  font-family: "Courier New", Courier, monospace;
}

body {
  padding-left: 200px;
  display: flex;
  flex-direction: column;
  width: 75%;
}

h1 {
  font-size: 3.25rem;
}

p {
  font-size: 1.5rem;
}

li {
  font-size: 1.25rem;
}
img {
  aspect-ratio: 16/9;
  width: 650px;
  border-radius: 10px;
  margin: 0.5rem;
  align-self: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  transition: box-shadow 0.3s ease-in-out;
}

img:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0, 0, 0, 0.12);
}
table {
  border-spacing: 0 20px;
}

td {
  margin: 0 12px 0 12px;
  border: solid;
  border-width: 0 0 0 0.125rem;
  border-color: grey;
}

.info-portion {
  border: solid;
  border-width: 0.125rem;
  border-color: grey;
  border-radius: 10px;
  margin: 0.5rem;
  padding: 1rem;
}

.general-info {
  max-width: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 12px;
}

.general-info-items {
  flex: 1 1 calc(33.333% - 12px);
  text-align: left;
}

@media (max-width: 600px) {
  .general-info-items {
    flex: 1 1 100%;
  }
}
